In [1]:
import pandas as pd
from pathlib import Path
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\heatb\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\heatb\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [2]:
#path to the excel file that we will use
unemployment_data_to_load = Path("demo-github/BLS Monthly Unemployment Rate.xlsx")

In [3]:
#reading our excel file into pandas
unemployment_data_raw = pd.read_excel(unemployment_data_to_load, engine='openpyxl')

In [4]:
#Run to see if we have access to our data
unemployment_data_raw.head()

   FIPS       State  Year  Month  Employable Population  Employed  Unemployed
0     1     Alabama  1976      1                1492409   1392154      100255
1     2      Alaska  1976      1                 159154    147809       11345
2     4     Arizona  1976      1                 972413    872738       99675
3     5    Arkansas  1976      1                 882835    817756       65079
4     6  California  1976      1                9781720   8892663      889057

In [5]:
#calculation for unemployment rate based on the unemployed and employable population
unemployment_data_raw['Unemployment Rate'] = (unemployment_data_raw['Unemployed'] / unemployment_data_raw['Employable Population']) * 100

In [6]:
#confirming unemployment rate is in the dataframe
unemployment_data_raw.head()

,FIPS,State,Year,Month,Employable Population,Employed,Unemployed,Unemployment Rate
0,1,Alabama,1976,1,1492409,1392154,100255,6.717663
1,2,Alaska,1976,1,159154,147809,11345,7.128316
2,4,Arizona,1976,1,972413,872738,99675,10.250274
3,5,Arkansas,1976,1,882835,817756,65079,7.371593
4,6,California,1976,1,9781720,8892663,889057,9.088964

In [7]:
# extract total unemployed for the year
yearly_total_unemployed = unemployment_data_raw.groupby('Year')['Unemployed'].sum()

yearly_total_unemployed

Year
1976     88314307
1977     83221063
1978     73859367
1979     73105365
1980     91708995
1981     99238311
1982    128237967
1983    128817221
1984    102605655
1985     99760213
1986     99031331
1987     89071535
1988     80477546
1989     78385188
1990     84761239
1991    103960686
1992    115693859
1993    107969159
1994     96291620
1995     89499054
1996     87625431
1997     81660356
1998     75359071
1999     71313561
2000     68462147
2001     81612742
2002    100594304
2003    104658202
2004     97171579
2005     91011067
2006     84097734
2007     84275710
2008    107333762
2009    170622805
2010    177967608
2011    166084105
2012    150379139
2013    137424071
2014    115421675
2015     99221422
2016     92867802
2017     83643340
2018     75519882
2019     71818595
2020    123301466
Name: Unemployed, dtype: int64

In [8]:
#extract yearly employable population
yearly_total_employable = unemployment_data_raw.groupby('Year')['Employable Population'].sum()
yearly_total_employable

Year
1976    1153808800
1977    1188472224
1978    1227297561
1979    1260036193
1980    1283401445
1981    1304727680
1982    1324060277
1983    1340086989
1984    1363719749
1985    1388181200
1986    1414875341
1987    1438909656
1988    1461111776
1989    1486906706
1990    1510746089
1991    1520509794
1992    1543371075
1993    1559225632
1994    1583024332
1995    1602357607
1996    1625521985
1997    1653730636
1998    1673520808
1999    1693341800
2000    1711408251
2001    1725117484
2002    1738259108
2003    1747730384
2004    1760227015
2005    1783176688
2006    1808547044
2007    1826447789
2008    1845337224
2009    1846386464
2010    1850979990
2011    1855146392
2012    1861735346
2013    1866143808
2014    1871485242
2015    1881725951
2016    1903716273
2017    1921846980
2018    1936698100
2019    1956603451
2020    1446417949
Name: Employable Population, dtype: int64

In [9]:
#Calculation for yearly unemployment rate using total employable and unemployable population 
yearly_unemployment_rate = (yearly_total_unemployed / yearly_total_employable) * 100
yearly_unemployment_rate

Year
1976    7.654154
1977    7.002357
1978    6.018049
1979    5.801846
1980    7.145776
1981    7.606055
1982    9.685206
1983    9.612601
1984    7.523955
1985    7.186397
1986    6.999297
1987    6.190210
1988    5.507966
1989    5.271695
1990    5.610555
1991    6.837226
1992    7.496179
1993    6.924537
1994    6.082763
1995    5.585461
1996    5.390603
1997    4.937948
1998    4.503026
1999    4.211410
2000    4.000340
2001    4.730851
2002    5.787072
2003    5.988235
2004    5.520400
2005    5.103873
2006    4.650016
2007    4.614187
2008    5.816485
2009    9.240904
2010    9.614778
2011    8.952615
2012    8.077364
2013    7.364066
2014    6.167384
2015    5.272894
2016    4.878238
2017    4.352237
2018    3.899414
2019    3.670575
2020    8.524608
dtype: float64

In [10]:
yearly_unemployment_df = pd.DataFrame({'Year': yearly_total_unemployed.index, 'Yearly Unemployment Rate': yearly_unemployment_rate})
yearly_unemployment_df

      Year  Yearly Unemployment Rate
Year
1976  1976                  7.654154
1977  1977                  7.002357
1978  1978                  6.018049
1979  1979                  5.801846
1980  1980                  7.145776
1981  1981                  7.606055
1982  1982                  9.685206
1983  1983                  9.612601
1984  1984                  7.523955
1985  1985                  7.186397
1986  1986                  6.999297
1987  1987                  6.190210
1988  1988                  5.507966
1989  1989                  5.271695
1990  1990                  5.610555
1991  1991                  6.837226
1992  1992                  7.496179
1993  1993                  6.924537
1994  1994                  6.082763
1995  1995                  5.585461
1996  1996                  5.390603
1997  1997                  4.937948
1998  1998                  4.503026
1999  1999                  4.211410
2000  2000                  4.000340
2001  2001                  4.730851
2002  2002                  5.787072
2003  2003                  5.988235
2004  2004                  5.520400
2005  2005                  5.103873
2006  2006                  4.650016
2007  2007                  4.614187
2008  2008                  5.816485
2009  2009                  9.240904
2010  2010                  9.614778
2011  2011                  8.952615
2012  2012                  8.077364
2013  2013                  7.364066
2014  2014                  6.167384
2015  2015                  5.272894
2016  2016                  4.878238
2017  2017                  4.352237
2018  2018                  3.899414
2019  2019                  3.670575
2020  2020                  8.524608

In [11]:
#Save unemployment dataframe to csv for analysis
yearly_unemployment_df.to_csv('unemployment_by_year.csv')